/***********************
* Variable
***********************/
/***********************
* Mixin
***********************/
#header {
  width: 100%;
  height: 72px;
  padding: 0 65px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 3px 2px 4px 0 rgba(0, 0, 0, 0.12);
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; }
  #header ul, #header li, #header ol {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  #header #logo {
    display: block; }
    #header #logo img {
      width: 110px;
      height: 60px; }
  #header .navbar {
    height: 72px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  #header #mobile-nav {
    display: none;
    height: 72px;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    #header #mobile-nav #logo {
      margin: 0 auto; }
    #header #mobile-nav .btn-menu {
      position: absolute;
      left: 20px;
      top: 25px; }
  #header .main-nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #header .main-nav > ul {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      height: 72px;
      line-height: 72px; }
    #header .main-nav li > a {
      font-size: 1.3em;
      color: #363539; }
  #header .links > li > a:hover {
    border-bottom: 0.2em solid #00BDFF; }
  #header .links > li + li {
    margin-left: 40px; }
  #header .info li {
    margin-left: 50px; }
  #header .tools li {
    position: relative;
    margin-left: 4em; }
  #header .dropdown .dropdown-menu {
    width: 200px;
    left: -60%;
    top: 98%;
    border: none;
    padding: 10px 0; }
    #header .dropdown .dropdown-menu a {
      font-size: 15px;
      padding: 5px 10px; }
