/***********************
* Variable
***********************/
/***********************
* Mixin
***********************/
.search {
  position: relative;
  /*.search-label {
    display: block;
  }*/ }
  .search .search-form {
    width: 100%;
    position: relative; }
  .search .search-input {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 1em;
    padding: 6px 35px 6px 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin: 10px 0;
    -webkit-appearance: none; }
    .search .search-input:focus {
      border: 1px solid #00BDFF;
      outline: none; }
  .search .icon-search {
    position: absolute;
    font-size: 14px;
    line-height: 30px;
    top: 50%;
    margin-top: -14px;
    right: 15px;
    color: #999; }

.results-panel {
  display: none;
  position: absolute;
  width: 400px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  right: -66px;
  top: 100%;
  padding: 20px;
  line-height: 1.5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }
  .results-panel .matching-post {
    border-bottom: 1px solid #ddd; }
    .results-panel .matching-post h2 {
      font-size: 17px;
      margin: 10px 0; }
    .results-panel .matching-post p {
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
  .results-panel .search-keyword {
    font-style: normal;
    color: #00BDFF; }
